<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src=" {{ url_for('static', filename='weather_script.js') }} "></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Weather Channel</h1>
    <button>Refresh</button>

    <div id=weather_images>
        <img src="./static/rainy.png" id= 'rainy' alt="rainy" onclick="picChange();">
        <img src="./static/snowy.png" id= 'snowy' alt="snowy" onclick="picChange();">
        <img src="./static/sunny.png" id= 'sunny' alt="sunny" onclick="picChange();">
        <img src="./static/cloudy.png" id= 'cloudy' alt="cloudy" onclick="picChange();">
        <img src="./static/cloudy.png" id= 'cloudy' alt="cloudy" onclick="picChange();">
    </div>

    <div id='locations'>
        <p>Bellvue temp: <span id='bellvue'>0</span> </p>
        <p>Chicago temp: <span id='chicago'>0</span> </p>
        <p>Boise temp: <span id='boise'>0</span> </p>
        <p>Los Angeles temp: <span id='la'>0</span> </p>
        <p>San Jose temp: <span id='sj'>0</span> </p>
    </div>

</body>

</html>